*{
    --background-color: #e2e3e5;
    --primary-text-color: #000;
    --secondary-text-color: #999797;
}

.MuiBox-root .css-nz47g-MuiPaper-root-MuiAppBar-root{
    background-color: #70869d;
}

.table-actions-cell{
    visibility: hidden;
}

.css-10cbwbc-MuiTableRow-root.MuiTableRow-hover:hover .table-actions-cell{
    visibility:visible;
}

.css-15wwp11-MuiTableHead-root{
    border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.MuiAutocomplete-root{
    width: 20%;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 48px;
    background-color: var(--background-color);
    text-align: center;
    color: var(--secondary-text-color);
} 